@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body{
    background-color: #DFE7F7;
    font-family: Poppins ;
    font-weight: 400;
}


header{
    background: linear-gradient(to right,#031130, #010B8B, #185DF1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    color:#d3d6e5;
    font-size: 0.9rem;
    text-align: center;
    line-height: 2.4;
   

}



header h1{
    font-weight: 300px;
    font-size: 1.6rem;
    color: #f7f7ff;
    
}


footer {
    text-align: center;
    padding: 20px;
    color:  #64748B;
    font-size: 0.85rem;
    line-height: 1.6;
}

/*================================PARTE DE CIMA FORMULÁRIO============================*/

.info-form{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#formulario{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: left;
}

#formulario label{
    margin-bottom: 5px;
    color: #4d596b;
    font-size: 1rem;

}

main{
    width: 100vw;
    padding: 20px;
}

.sistema-formulario{
    background-color: white;
    text-align: center;
    font-size: 1rem;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    
}

.sistema-formulario h2{
    font-size: 1.3rem;
    padding: 10px;
    color: #091335;
}

#adicionar{
    width: 100%;
    background-color: #185DF1;
    color: white;
    height: 40px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    transition: all ease 1.5ms;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: poppins;

   
}

#adicionar:hover{
    background-color: #3070f9;
    outline:  0.2px solid #185DF1;
    border: 2px solid #869bf65d;
    box-shadow: 1px 1px 3px #9ba8c4;
}

input{
    height: 40px;
    border-radius: 20px;
    border: 0.2px solid #B2BED6;
    padding: 10px;
    box-shadow: 0px 4px 10px #1d355d00;
    cursor: pointer;
    background: #e3e7fc2a;

    
}
 input::placeholder{
    color: #57667b;  
 }


 input:focus{
    outline:  0.2px solid #185DF1;
    background-color: #ffff;
    border: 2px solid #869bf65d;
    box-shadow: 1px 1px 3px #9ba8c4;
    
 }




 .label-form{

    height: 40px;
    border-radius: 20px;
    border: 1px solid #63A7D4;
    padding: 10px;
    box-shadow: 0px 4px 10px #1d355d10;
    cursor: pointer;
    background-color: #e3e7fc3b;
   
   
 }

 .label-form:focus{
    outline:  0.2px solid #185DF1;
    background-color: #ffff;
    border: 2px solid #869bf65d;
    box-shadow: 1px 1px 3px #9ba8c4;
 }


 
 .label-form option:disabled {
    color: #636ad4;
}





/*================PARTE DAS DIVS COM OS PRODUTOS E OS FILTROS DE STATUS================================*/

.equipamentos{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}
                                        /*seção de filtros*/
.filtros{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: flex-end;
   
}

.filtro-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 160px;

}

.filtro-item label{
   margin-bottom: 5px; 
   color: #1C3C70;
   font-size: 1rem;
}

#limpar-filtros{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: all ease 1.5ms;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: poppins;
    background-color: #bfd8e372;
    outline: none;
    justify-content: center;
    color:#010B8B;

}
#limpar-filtros:hover{
    background-color: #bfd8e39f;
}

.contar-itens{
    color: #010B8B;
    font-size: 0.9rem;
    margin-bottom: 15px;

}


.tabela-itens{

    overflow-x: auto; /* controla o ecesso visível de conteúdo*/

}

table{
    width: 100%;
    border-collapse: collapse;/* elimina espaço duplo entre colunas de uma tabela*/
}

thead th{
    text-align: left;
    padding: 15px;
    color :#010B8B;
    font-weight: 400;
    font-size: 0.75rem;
    border-bottom: 2px solid #a3b8e4;

}

tbody td{
    padding: 12px;
    border-bottom: 1px solid #E3F1F8;
    color: #1E293B;
    align-items: center;
    
   
}


tbody tr:hover{
    background-color: #e3e7fc2a;
}





/*Badges com os Status do item vermelho, amarelo e verde*/


.badge{
    padding: 5px 12px;
    border-radius: 999px;
    font-size: 0.8rem;
    font-weight: 700;
    display: inline-block;
}


.badge-disponivel{
    background-color: #DCFCE7;
    color: #16A34A;
}

.badge-em_uso{
    background-color: #FEF9C3;
    color: #CA8A04;
}
    
.badge-em_manutencao{
    background-color: #FEE2E2;
    color: #DC2626;
}





/* Botãoes para ação*/

.acoes{
    display:flex;
    gap: 10px;
}


.btn-icone{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #2B2B2B;
    transition: color 0.3s;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    
    
    
}
.btn-icone:hover{
    background-color: #bfd8e372;
}

.btn-editar:hover{
    color: #173DED;
    
    
}


.btn-excluir:hover{
    color: #DC2626;

}

.mensagem-vazia{
    text-align: center;
    color:#010B8B;
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
    background-color: #bfd8e369;
}

/* feedback*/

.toast{
    position:fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    font-family: Poppins;
    z-index: 999; /* controla a ordem de emplihamento */

}


.toast.sucesso{
    background-color: #16A34A;
}

.toast.erro{
    background-color: #DC2626;
}



/*========================AJUSTES EM DIFERENTES TAMANHOS DE TELA======================================*/

@media (min-width: 576px){
   .sistema-formulario{
        width: 80%;
        margin: auto;
    }



    .equipamentos{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

}



@media (min-width:768px){
    
    .sistema-formulario{
        width: 75%;
    }
    .equipamentos{
        width: 75%;
    }

   
}


@media (max-width: 640px){

    thead{
        display: none;
    }

    #tabela-equipamentos, tbody, tr, td{
        display: block;
        width: 100%;

    }

    tbody td{
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;

    }

    tbody td::before{
        content: attr(data-label); 
        font-weight: 700;
        color: #64748B;
        margin-top: 10px;

    }

    tbody tr{
        border-bottom: 1px solid #2b4da5;
        margin: 2px auto;
        
        
    }

    .acoes{
        justify-content: flex-end;
    }


}


